<a href="https://colab.research.google.com/github/drmartins2/EDIT_DE/blob/main/spark/examples/06-write_partitioning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write
- .write
- .format (parquet, csv, json)
- options
- spark.sql.sources.partitionOverwriteMode dynamic

# Write Mode
- overwrite - The overwrite mode is used to overwrite the existing file, alternatively, you can use SaveMode.Overwrite
- append - To add the data to the existing file, alternatively, you can use SaveMode.Append
- ignore - Ignores write operation when the file already exists, alternatively, you can use SaveMode.Ignore.
- errorifexists or error - This is a default option when the file already exists, it returns an error, alternatively, you can use SaveMode.ErrorIfExists.

# Partitioning
Process to organize the data into multiple chunks based on some criteria.
Partitions are organized in sub-folders.
Partitioning improves performance in Spark.

# Setting up PySpark

In [ ]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Spark Course').getOrCreate()

# Preparing data

In [2]:
!pip install faker

Collecting faker
  Downloading Faker-33.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-33.0.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 27.2 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-33.0.0

In [3]:
from faker import Faker
from datetime import datetime

fake = Faker()

users = []
for _ in range(50):
    user = {
        'date': fake.date_time_between_dates(datetime(2024, 5, 1), datetime(2024, 5, 5)),
        'name': fake.name(),
        'address': fake.address(),
        'email': fake.email(),
        'dob': fake.date_of_birth(),
        'phone': fake.phone_number()
    }
    users.append(user)

df = spark.createDataFrame(users)

df.show(10, False)

+-------------------------------------------------------+--------------------------+----------+-------------------------+---------------+----------------------+
|address                                                |date                      |dob       |email                    |name           |phone                 |
+-------------------------------------------------------+--------------------------+----------+-------------------------+---------------+----------------------+
|38065 Robert Street Apt. 753\nGallagherton, TN 45397   |2024-05-04 15:36:51.796586|1909-01-15|timothylucas@example.net |Megan Porter   |323-593-8235x38167    |
|3447 Keith Estate Suite 019\nGaryfurt, KY 10475        |2024-05-02 23:21:58.681493|2004-08-05|rschultz@example.net     |Janice Lane    |272-885-8870x8138     |
|736 Ho Union Apt. 862\nHermanborough, DE 82724         |2024-05-01 19:12:52.895824|1985-10-30|ulucas@example.com       |Corey Perez Jr.|(900)650-6425x89058   |
|36048 Charles Summit\nDustinland, GA 82091             |2024-05-01 18:48:41.083276|1928-02-15|michael55@example.org    |Jose Johnson   |711-751-0874x4025     |
|2641 Cody Trail Apt. 268\nLambertmouth, NC 52243       |2024-05-03 21:23:14.049295|1948-07-06|montoyasara@example.net  |Darrell Green  |(635)712-4772x96002   |
|87485 Beverly Gardens\nPort Jennifer, PW 84264         |2024-05-01 04:14:31.56728 |1913-10-26|rogersgregory@example.org|Melody Gomez   |802.794.3431          |
|615 Zoe Place\nMaryhaven, MI 40593                     |2024-05-03 08:00:06.341   |2016-03-18|hailey37@example.org     |Rhonda Williams|001-607-263-8270x19575|
|USS Manning\nFPO AP 11888                              |2024-05-03 08:03:26.133259|1910-11-17|robert04@example.net     |Aaron Simon    |001-215-305-1111      |
|6647 Roger Parks Suite 365\nWest Brittanyview, MN 51623|2024-05-01 07:03:47.030797|1964-10-14|mandyyork@example.com    |Monique Powell |241.680.9069x77602    |
|8542 Patterson Loaf Suite 561\nPort Christine, NV 49697|2024-05-03 22:24:47.565507|1951-09-03|tina58@example.org       |Ana Young      |826-653-5483x22561    |
+-------------------------------------------------------+--------------------------+----------+-------------------------+---------------+----------------------+
only showing top 10 rows

# Writing as PARQUET

In [4]:
# Writing as PARQUET with no partitions

path = "/content/write_partitioning/parquet_no_partitions"

df.write.mode("overwrite").format("parquet").save(path)

!ls /content/write_partitioning/parquet_no_partitions

spark.read.format("parquet").load(path).count()

part-00000-394260dc-04f0-4d95-8960-8947ae1a8a74-c000.snappy.parquet  _SUCCESS

50

In [7]:
# Remove the created partition folder 20240502
!rm -rf /content/write_partitioning/parquet_with_partitions/date_part\=20240502

In [8]:
# Writing as PARQUET with partitions
from pyspark.sql.functions import *

path = "/content/write_partitioning/parquet_with_partitions"

# Creating partition column
df = df.withColumn("date_part", date_format(col("date"), "yyyyMMdd"))

spark.conf.set("spark.sql.sources.partitionOverwriteMode","dynamic") # enable dynamic partition overwrite - only overwrites partitions that are coming in the dataframe

(df.where("date_part = '20240502'")
 .write
 .mode("overwrite")                                               # overwrites the entire path with the new data
 .partitionBy("date_part")                                        # partition the data by column - creates sub-folders for each partition
 .format("parquet")                                               # format of output
 .save(path))                                                     # path

!ls /content/write_partitioning/parquet_with_partitions

spark.read.format("parquet").load(path).count()

'date_part=20240501'  'date_part=20240502'  'date_part=20240503'  'date_part=20240504'

50

Side note:
If several small files are created, the OPTIMIZE function can be used to merge all partioned small files into one (with a max size of 200mb each)

https://docs.delta.io/latest/optimizations-oss.html#language-sql

In [9]:
# Checking single partition
spark.read.parquet("/content/write_partitioning/parquet_with_partitions/date_part=20240502").show()

+--------------------+--------------------+----------+--------------------+-----------------+--------------------+
|             address|                date|       dob|               email|             name|               phone|
+--------------------+--------------------+----------+--------------------+-----------------+--------------------+
|3447 Keith Estate...|2024-05-02 23:21:...|2004-08-05|rschultz@example.net|      Janice Lane|   272-885-8870x8138|
|Unit 4482 Box 437...|2024-05-02 03:54:...|2023-12-18|heatherabbott@exa...|       Amy Wilson|   603.679.7271x6952|
|8885 Vargas Cross...|2024-05-02 06:03:...|1948-08-24|hicksstacy@exampl...|     Darren Jones|  (783)984-3674x5555|
|2809 Palmer Way S...|2024-05-02 22:22:...|1952-06-28|   vrice@example.com|     Eric Whitney|+1-924-352-3176x1...|
|631 Aaron Parkway...|2024-05-02 19:45:...|1993-12-29| david20@example.org|   David Phillips|        347-273-4411|
|PSC 2498, Box 994...|2024-05-02 12:59:...|2013-12-22| linda43@example.net|      Mary Snyder|    001-285-773-1903|
|577 Nicholas Cove...|2024-05-02 23:42:...|1951-09-22|masseyjon@example...| Danielle Johnson|  (288)329-4349x6098|
|PSC 6067, Box 221...|2024-05-02 05:51:...|1930-12-22|  evan79@example.net|Martin Stephenson|001-557-845-7871x...|
|420 Manning Camp ...|2024-05-02 03:12:...|1941-03-20| wchaney@example.org|  Christina Ellis| +1-274-548-3148x579|
|45022 Juan Fall A...|2024-05-02 09:47:...|2021-09-29|   fcruz@example.org|       John Weber|        320-350-7426|
|5592 Schneider Fo...|2024-05-02 01:14:...|1986-10-04|davisnatalie@exam...| Samantha Shields|   661-615-7204x7024|
|350 Jon Trafficwa...|2024-05-02 10:52:...|1962-11-13|heather85@example...|  Shannon Collins|          3839285680|
|820 Johnson Key\n...|2024-05-02 07:59:...|2020-01-27|  zlopez@example.net|    Julia Beasley|+1-852-249-6394x9...|
|345 Martin Corner...|2024-05-02 01:08:...|1920-12-19| ericlee@example.net|     Cameron Diaz|  (781)814-2482x5323|
|3025 Darius Missi...|2024-05-02 17:46:...|1982-04-10|smithkayla@exampl...|    Christian Fox|    001-777-656-9340|
+--------------------+--------------------+----------+--------------------+-----------------+--------------------+

# Writing as CSV

https://spark.apache.org/docs/3.5.1/sql-data-sources-csv.html

In [10]:
df.count()

50

In [11]:
path = "/content/write_partitioning/csv_no_partitioning/"

# write as csv
(df
  .write
  .format("csv")
  .mode("overwrite")
  .option("delimiter", "|")
  .option("header", True)
  .save(path))

# listing files in the folder
!ls /content/write_partitioning/csv_no_partitioning/

# read as csv
(spark
  .read
  .options(sep="|", multiLine=True, header=True)
  .csv(path)
  .count())

part-00000-0301f8ef-33b6-4339-90c4-2663ff4599f1-c000.csv  _SUCCESS

50

# Writing as JSON

https://spark.apache.org/docs/3.5.1/sql-data-sources-json.html

In [13]:
path = "/content/write_partitioning/json_no_partitioning/"

# write as json
(df
.write
.mode("overwrite")
.format("json")
.save(path))

# listing files in the folder
!ls /content/write_partitioning/json_no_partitioning/

# read as json
(spark
  .read
  .json(path)
  .count())

part-00000-9941d8aa-29b2-41f1-933b-57a850774cdb-c000.json  _SUCCESS

50

In [14]:
# reading json as text
spark.read.text(path).show(10, False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                                                                                                                 |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"address":"38065 Robert Street Apt. 753\nGallagherton, TN 45397","date":"2024-05-04T15:36:51.796Z","dob":"1909-01-15","email":"timothylucas@example.net","name":"Megan Porter","phone":"323-593-8235x38167","date_part":"20240504"}  |
|{"address":"3447 Keith Estate Suite 019\nGaryfurt, KY 10475","date":"2024-05-02T23:21:58.681Z","dob":"2004-08-05","email":"rschultz@example.net","name":"Janice Lane","phone":"272-885-8870x8138","date_part":"20240502"}             |
|{"address":"736 Ho Union Apt. 862\nHermanborough, DE 82724","date":"2024-05-01T19:12:52.895Z","dob":"1985-10-30","email":"ulucas@example.com","name":"Corey Perez Jr.","phone":"(900)650-6425x89058","date_part":"20240501"}          |
|{"address":"36048 Charles Summit\nDustinland, GA 82091","date":"2024-05-01T18:48:41.083Z","dob":"1928-02-15","email":"michael55@example.org","name":"Jose Johnson","phone":"711-751-0874x4025","date_part":"20240501"}                |
|{"address":"2641 Cody Trail Apt. 268\nLambertmouth, NC 52243","date":"2024-05-03T21:23:14.049Z","dob":"1948-07-06","email":"montoyasara@example.net","name":"Darrell Green","phone":"(635)712-4772x96002","date_part":"20240503"}     |
|{"address":"87485 Beverly Gardens\nPort Jennifer, PW 84264","date":"2024-05-01T04:14:31.567Z","dob":"1913-10-26","email":"rogersgregory@example.org","name":"Melody Gomez","phone":"802.794.3431","date_part":"20240501"}             |
|{"address":"615 Zoe Place\nMaryhaven, MI 40593","date":"2024-05-03T08:00:06.341Z","dob":"2016-03-18","email":"hailey37@example.org","name":"Rhonda Williams","phone":"001-607-263-8270x19575","date_part":"20240503"}                 |
|{"address":"USS Manning\nFPO AP 11888","date":"2024-05-03T08:03:26.133Z","dob":"1910-11-17","email":"robert04@example.net","name":"Aaron Simon","phone":"001-215-305-1111","date_part":"20240503"}                                    |
|{"address":"6647 Roger Parks Suite 365\nWest Brittanyview, MN 51623","date":"2024-05-01T07:03:47.030Z","dob":"1964-10-14","email":"mandyyork@example.com","name":"Monique Powell","phone":"241.680.9069x77602","date_part":"20240501"}|
|{"address":"8542 Patterson Loaf Suite 561\nPort Christine, NV 49697","date":"2024-05-03T22:24:47.565Z","dob":"1951-09-03","email":"tina58@example.org","name":"Ana Young","phone":"826-653-5483x22561","date_part":"20240503"}        |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [15]:
# reading json as text
spark.read.json(path).show(10, False)

+-------------------------------------------------------+------------------------+---------+----------+-------------------------+---------------+----------------------+
|address                                                |date                    |date_part|dob       |email                    |name           |phone                 |
+-------------------------------------------------------+------------------------+---------+----------+-------------------------+---------------+----------------------+
|38065 Robert Street Apt. 753\nGallagherton, TN 45397   |2024-05-04T15:36:51.796Z|20240504 |1909-01-15|timothylucas@example.net |Megan Porter   |323-593-8235x38167    |
|3447 Keith Estate Suite 019\nGaryfurt, KY 10475        |2024-05-02T23:21:58.681Z|20240502 |2004-08-05|rschultz@example.net     |Janice Lane    |272-885-8870x8138     |
|736 Ho Union Apt. 862\nHermanborough, DE 82724         |2024-05-01T19:12:52.895Z|20240501 |1985-10-30|ulucas@example.com       |Corey Perez Jr.|(900)650-6425x89058   |
|36048 Charles Summit\nDustinland, GA 82091             |2024-05-01T18:48:41.083Z|20240501 |1928-02-15|michael55@example.org    |Jose Johnson   |711-751-0874x4025     |
|2641 Cody Trail Apt. 268\nLambertmouth, NC 52243       |2024-05-03T21:23:14.049Z|20240503 |1948-07-06|montoyasara@example.net  |Darrell Green  |(635)712-4772x96002   |
|87485 Beverly Gardens\nPort Jennifer, PW 84264         |2024-05-01T04:14:31.567Z|20240501 |1913-10-26|rogersgregory@example.org|Melody Gomez   |802.794.3431          |
|615 Zoe Place\nMaryhaven, MI 40593                     |2024-05-03T08:00:06.341Z|20240503 |2016-03-18|hailey37@example.org     |Rhonda Williams|001-607-263-8270x19575|
|USS Manning\nFPO AP 11888                              |2024-05-03T08:03:26.133Z|20240503 |1910-11-17|robert04@example.net     |Aaron Simon    |001-215-305-1111      |
|6647 Roger Parks Suite 365\nWest Brittanyview, MN 51623|2024-05-01T07:03:47.030Z|20240501 |1964-10-14|mandyyork@example.com    |Monique Powell |241.680.9069x77602    |
|8542 Patterson Loaf Suite 561\nPort Christine, NV 49697|2024-05-03T22:24:47.565Z|20240503 |1951-09-03|tina58@example.org       |Ana Young      |826-653-5483x22561    |
+-------------------------------------------------------+------------------------+---------+----------+-------------------------+---------------+----------------------+
only showing top 10 rows

In [18]:
# partition json data + saveAsTable

# Creating partition column
df = df.withColumn("date_part", date_format(col("date"), "yyyyMMdd"))

# write as json
(df.write
  .partitionBy("date_part")
  .mode("overwrite")
  .format("json")
  .saveAsTable("tbl_json_part"))

# read as json
print(spark.table("tbl_json_part").count())

# show created table
spark.sql("show tables from default").show()

# read as json
spark.sql("show partitions tbl_json_part").show()

50
+---------+-------------+-----------+
|namespace|    tableName|isTemporary|
+---------+-------------+-----------+
|  default|tbl_json_part|      false|
+---------+-------------+-----------+

+------------------+
|         partition|
+------------------+
|date_part=20240501|
|date_part=20240502|
|date_part=20240503|
|date_part=20240504|
+------------------+

# Append Mode

In [19]:
# Writing as PARQUET with APPEND

path = "/content/write_partitioning/parquet_append"

df.write.mode("append").format("parquet").save(path)

!ls /content/write_partitioning/parquet_append

spark.read.format("parquet").load(path).count()

part-00000-72f41d21-4505-4134-b753-0e1f6b1ba9e1-c000.snappy.parquet  _SUCCESS

50